# Ignore Python cache
__pycache__/
*.pyc

# Ignore virtual environment if accidentally created inside project
env/

# Ignore input, output, logs content
subtitle_generator/input/*
subtitle_generator/output/*
subtitle_generator/logs/*

subtitle_burner/input/*
subtitle_burner/output/*
subtitle_burner/logs/*
